* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px; }

body {
  background-color: #f0f0f0; }

input {
  border: 0;
  outline: none;
  width: 20px;
  margin: 0 6px;
  padding-top: 0.4rem;
  font-size: 13.5px; }

.nav {
  width: 100%;
  height: 3.7rem;
  background-color: #1393b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 3.7rem; }
  .nav .nav__img2, .nav .nav__img1 {
    background-repeat: no-repeat;
    background-size: 175px 546px;
    margin-left: 0.7rem; }
  .nav .nav__img2 {
    margin-right: 0.7rem;
    margin-left: 0; }
  .nav .nav__img2, .nav .nav__img1 {
    background-image: url("../a-images/img.png");
    height: 20px;
    width: 20px;
    background-position: 0 -96px; }
  .nav .nav__img2 {
    background-image: url("../a-images/img.png");
    width: 20px;
    height: 18px;
    background-position: 0 -60px; }
  .nav .nav__title {
    color: #fff;
    font-size: 15px; }

body {
  background-color: #f0f0f0; }

.main {
  width: 93%;
  margin: 0.8rem auto; }
  .main .main__day {
    background-color: #fff;
    height: 4rem;
    margin: 0.9rem auto;
    border: 1px solid #B2AFBF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29bde0; }
  .main .main__triangle {
    position: absolute;
    top: 8.34rem;
    left: 50%;
    margin-left: -1.3rem;
    border-bottom: 1.8rem solid #FFFFFF;
    border-left: 1.3rem solid transparent;
    border-right: 1.3rem solid transparent; }
  .main .main__option {
    height: 22rem;
    background-color: #fff;
    border: 1px solid #B2AFBF;
    padding-top: 3rem; }
    .main .main__option .content {
      display: flex;
      width: 100%; }
      .main .main__option .content .content_day {
        width: 10%;
        height: auto;
        margin-left: 7%;
        position: relative; }
        .main .main__option .content .content_day .content_day__line {
          width: 0.15rem;
          background-color: #c9c9c9;
          height: 18.4rem;
          margin-left: 1.5rem; }
        .main .main__option .content .content_day .content_day__moon, .main .main__option .content .content_day .content_day__sun {
          width: 2.8rem;
          height: 2.8rem;
          position: absolute;
          top: 0;
          margin-right: 0.5rem;
          border-radius: 50%;
          border: 1.8px solid #c9c9c9;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center; }
          .main .main__option .content .content_day .content_day__moon div, .main .main__option .content .content_day .content_day__sun div {
            background-image: url("../a-images/img.png");
            background-repeat: no-repeat;
            background-size: 172px 549px;
            height: 18px;
            width: 14px;
            background-position: 0 -27px; }
        .main .main__option .content .content_day .content_day__sun {
          top: 5rem; }
          .main .main__option .content .content_day .content_day__sun div {
            background-image: url("../a-images/img.png");
            background-repeat: no-repeat;
            background-size: 172px 549px;
            height: 18px;
            width: 18px;
            background-position: 0 -78px; }
      .main .main__option .content .content_option {
        width: 80%;
        height: auto;
        background-color: #fff;
        margin-right: 1.8rem; }
        .main .main__option .content .content_option .content_option__kill, .main .main__option .content .content_option .content_option__ghost, .main .main__option .content .content_option .content_option__order, .main .main__option .content .content_option .content_option__whole {
          width: auto;
          height: 3.2rem;
          background-color: #1393b2;
          margin-left: 2.2rem;
          margin-bottom: 1.8rem;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff; }
          .main .main__option .content .content_option .content_option__kill .content_option__triangle, .main .main__option .content .content_option .content_option__ghost .content_option__triangle, .main .main__option .content .content_option .content_option__order .content_option__triangle, .main .main__option .content .content_option .content_option__whole .content_option__triangle {
            position: absolute;
            left: -1.4rem;
            top: 0.9rem;
            border-right: 1.5rem solid #1393b2;
            border-top: 0.7rem solid transparent;
            border-bottom: 0.7rem solid transparent; }
        .main .main__option .content .content_option .newelem {
          margin-bottom: 1rem;
          text-align: center; }

footer {
  height: 5.5rem;
  background-color: rgba(41, 189, 224, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer .end_btn, footer .log_btn {
    width: 36%;
    height: 3.6rem;
    background-color: #fab344;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px; }
