@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px; }

body {
  background-color: #f0f0f0; }

input {
  border: 0;
  outline: none;
  width: 20px;
  margin: 0 6px;
  padding-top: 0.4rem;
  font-size: 13.5px; }

.nav {
  width: 100%;
  height: 3.7rem;
  background-color: #1393b2;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav .nav__img2, .nav .nav__img1 {
    background-repeat: no-repeat;
    background-size: 175px 546px;
    margin-left: 0.7rem; }
  .nav .nav__img2 {
    margin-right: 0.7rem;
    margin-left: 0; }
  .nav .nav__img2, .nav .nav__img1 {
    background-image: url("../a-images/img.png");
    width: 25px;
    height: 20px;
    background-position: 0 -7px; }
  .nav .nav__img2 {
    background-image: url("../a-images/img.png");
    height: 25px;
    width: 25px;
    background-position: 0 -136px; }
  .nav .nav__title {
    color: #fff;
    font-size: 15px; }

footer {
  display: flex;
  justify-content: center;
  align-items: center; }
  footer .button {
    width: 79%;
    height: 3.6rem;
    background-color: #fab344;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; }

.content {
  width: 93%;
  height: 55rem;
  background-color: #f0f0f0;
  margin: 0.8rem auto; }
  .content .conten__match {
    height: 3.4rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.85px; }
  .content .conten__set {
    height: 18rem;
    background-color: #fff;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem; }
  .content .conten__input {
    height: 9rem;
    background-color: #fff;
    margin: 0.7rem 0;
    padding: 1.5rem 3.5rem; }
    .content .conten__input .inputMain {
      width: 100%;
      height: 100%;
      background-color: #fff; }
      .content .conten__input .inputMain .inputMain__role {
        height: 4rem;
        border-bottom: 2px solid #f0f0f0;
        display: flex;
        align-items: center; }
        .content .conten__input .inputMain .inputMain__role p {
          font-size: 12px;
          width: 10rem; }
        .content .conten__input .inputMain .inputMain__role input {
          width: 70%;
          height: 2.2rem; }
  .content .conten__amount {
    height: 10rem;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 2rem; }
    .content .conten__amount span {
      color: #FBB435; }
    .content .conten__amount .slider {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem; }
    .content .conten__amount .slider-btn {
      width: 75%;
      margin: 0 1.5rem; }
    .content .conten__amount .slider-btnPlus, .content .conten__amount .slider-btnReduce {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      width: 25px;
      height: 25px;
      font-size: 21px;
      color: #ffffff;
      background: #FBB435;
      cursor: pointer;
      border: 0;
      outline: none; }

input[type=range] {
  padding-top: 0;
  margin: 0 18px;
  -webkit-appearance: none;
  width: 300px;
  border-radius: 10px;
  /*这个属性设置使填充进度条时的图形为圆角*/
  background: -webkit-linear-gradient(#059CFA, #059CFA) no-repeat;
  background-size: 0% 100%; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]::-webkit-slider-runnable-track {
  height: 7px;
  border-radius: 10px;
  /*将轨道设为圆角的*/
  box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
  /*轨道内置阴影效果*/ }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin-top: -5px;
  /*使滑块超出轨道部分的偏移量相等*/
  background: #ffffff;
  border-radius: 50%;
  /*外观设置为圆形*/
  border: solid 0.125em rgba(205, 224, 230, 0.5);
  /*设置边框*/
  box-shadow: 0 .125em .125em #3b4547;
  /*添加底部阴影*/ }
